 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {
    .aroundStuff{
      display: flex;
      justify-content: center;
    }
    main, .chatBottom{
      width: 400px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .aroundStuff{
      display: flex;
      justify-content: center;
    }
    main, .chatBottom{
      width: 400px;
    }


  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }
